{%extends 'admin.html'%}

{%block contenido%}
						<div class="row">
						  <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
							  <div class="card-header card-header-warning card-header-icon">
								<div class="card-icon">
								  <i class="material-icons">weekend</i>
								</div>
								<p class="card-category">Consolas</p>
								<h3 class="card-title">184</h3>
							  </div>
							  <div class="card-footer">
								<div class="stats">
								  <i class="material-icons text-danger">warning</i>
								  <a href="#pablo">Alerta</a>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
							  <div class="card-header card-header-rose card-header-icon">
								<div class="card-icon">
								  <i class="material-icons">equalizer</i>
								</div>
								<p class="card-category">Website Visits</p>
								<h3 class="card-title">75.521</h3>
							  </div>
							  <div class="card-footer">
								<div class="stats">
								  <i class="material-icons">local_offer</i> Tracked from Google Analytics
								</div>
							  </div>
							</div>
						  </div>
						  <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
							  <div class="card-header card-header-success card-header-icon">
								<div class="card-icon">
								  <i class="material-icons">store</i>
								</div>
								<p class="card-category">Ventas</p>
								<h3 class="card-title">$34,245</h3>
							  </div>
							  <div class="card-footer">
								<div class="stats">
								  <i class="material-icons">date_range</i> Last 24 Hours
								</div>
							  </div>
							</div>
						  </div>
						  <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
							  <div class="card-header card-header-info card-header-icon">
								<div class="card-icon">
								  <i class="fa fa-twitter"></i>
								</div>
								<p class="card-category">Followers</p>
								<h3 class="card-title">+245</h3>
							  </div>
							  <div class="card-footer">
								<div class="stats">
								  <i class="material-icons">update</i> Just Updated
								</div>
							  </div>
							</div>
						  </div>
						</div>
						<h3>Ultimos productos agregados</h3>
						<br>
						<div class="row">
						  <div class="col-md-4">
							<div class="card card-product">
							  <div class="card-header card-header-image" data-header-animation="true">
								<a href="#pablo">
								  <img class="img" src="https://demos.creative-tim.com/material-dashboard-pro/assets/img/card-2.jpg">
								</a>
							  </div>
							  <div class="card-body">
								<div class="card-actions text-center">
								  <button type="button" class="btn btn-danger btn-link fix-broken-card">
									<i class="material-icons">build</i> Fix Header!
								  </button>
								  <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="View">
									<i class="material-icons">art_track</i>
								  </button>
								  <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit">
									<i class="material-icons">edit</i>
								  </button>
								  <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
									<i class="material-icons">close</i>
								  </button>
								</div>
								<h4 class="card-title">
								  <a href="#pablo">Producto </a>
								</h4>
								<div class="card-description">
								  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor iure ut culpa quidem aliquam impedit eum cum nostrum quo? Corporis consectetur, atque esse qui adipisci enim, quidem vitae eos a.
								</div>
							  </div>
							  <div class="card-footer">
								<div class="price">
								  <h4>$899</h4>
								</div>
								<div class="stats">
								  <span>25 left</span>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="col-md-4">
							<div class="card card-product">
							  <div class="card-header card-header-image" data-header-animation="true">
								<a href="#pablo">
								  <img class="img" src="https://demos.creative-tim.com/material-dashboard-pro/assets/img/card-3.jpg">
								</a>
							  </div>
							  <div class="card-body">
								<div class="card-actions text-center">
								  <button type="button" class="btn btn-danger btn-link fix-broken-card">
									<i class="material-icons">build</i> Fix Header!
								  </button>
								  <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="View">
									<i class="material-icons">art_track</i>
								  </button>
								  <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit">
									<i class="material-icons">edit</i>
								  </button>
								  <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
									<i class="material-icons">close</i>
								  </button>
								</div>
								<h4 class="card-title">
								  <a href="#pablo">Producto</a>
								</h4>
								<div class="card-description">
								  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis exercitationem aliquid corrupti temporibus sequi voluptates aliquam laborum id, voluptatem quos dolores, non magni laboriosam, tempora ullam iure aperiam neque molestias?
								</div>
							  </div>
							  <div class="card-footer">
								<div class="price">
								  <h4>$1.119</h4>
								</div>
								<div class="stats">
									<span>25 left</span>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="col-md-4">
							<div class="card card-product">
							  <div class="card-header card-header-image" data-header-animation="true">
								<a href="#pablo">
								  <img class="img" src="https://demos.creative-tim.com/material-dashboard-pro/assets/img/card-1.jpg">
								</a>
							  </div>
							  <div class="card-body">
								<div class="card-actions text-center">
								  <button type="button" class="btn btn-danger btn-link fix-broken-card">
									<i class="material-icons">build</i> Fix Header!
								  </button>
								  <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="View">
									<i class="material-icons">art_track</i>
								  </button>
								  <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit">
									<i class="material-icons">edit</i>
								  </button>
								  <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
									<i class="material-icons">close</i>
								  </button>
								</div>
								<h4 class="card-title">
								  <a href="#pablo">Producto</a>
								</h4>
								<div class="card-description">
								  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo fugiat, explicabo laboriosam assumenda ratione commodi nisi repudiandae necessitatibus totam distinctio at, suscipit provident voluptates. Iusto minus nam corporis architecto quam.
								</div>
							  </div>
							  <div class="card-footer">
								<div class="price">
								  <h4>$459</h4>
								</div>
								<div class="stats">
								  <span>25 left</span>
								</div>
							  </div>
							</div>
						  </div>
						</div>

{%endblock%}