{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://demos.creative-tim.com/material-dashboard-pro/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="https://demos.creative-tim.com/material-dashboard-pro/assets/img/favicon.png">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
	<link href="{%static 'css/css.css'%}" rel="stylesheet" />

</head>

<body >
	
	<div>
		<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
			<a class="navbar-brand" href="{%url 'inicio'%}">Game Center</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="basicExampleNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link waves-effect waves-light" href="{%url 'inicio'%}">Inicio
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link waves-effect waves-light" href="{%url 'ofertas'%}">Ofertas</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
						<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
							{% for of in tipos %}
								<a class="dropdown-item waves-effect waves-light" href="{%url 'categoria' of.id%}">{{of.nombre}}</a>
							{%endfor%}
						</div>
					</li>
				</ul>
				<form class="form-inline" action="/search" method="GET">
					<div class="md-form my-0">
						<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
					</div>
				</form>
				{% if user.is_authenticated %}
					<ul class="navbar-nav ml-auto nav-flex-icons">
						<li class="nav-item avatar dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="{{user.userprofile.pp.url}}" class="rounded-circle z-depth-0" alt="avatar image" style="width: 37px!important;height: 37px!important">
								<span>{{user.username}}</span>
							</a>
							<div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
								<a class="dropdown-item" href="{%url 'profile'%}">Perfil</a>
								<a class="dropdown-item" href="{%url 'pfavs'%}">Mis favoritos</a>
								<a class="dropdown-item" href="{%url 'logout'%}">Salir</a>
							</div>
						</li>
					</ul>
				{% else %}
					{%if request.path != '/register' and request.path != '/login' %}
						<ul class="navbar-nav ml-auto nav-flex-icons">
							<li class="nav-item">
								<a class="nav-link waves-effect waves-light" href="{%url 'login'%}">Inicia Sesión</a>
							</li>
							<li class="nav-item">
								<a class="nav-link waves-effect waves-light" href="{%url 'register'%}">Registrate</a>
							</li>
						</ul>
					{% endif %}
				{% endif %}
			</div>
		</nav>
	</div>

	<br><br>
	
	{%if request.path == '/' %}
		<div class="d-flex justify-content-center">
			<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="https://cdn2.unrealengine.com/Fortnite%2Fbattle-royale%2F10BR_Launch_Web_GetFortnite_Header-1920x1000-a8e332ddc946efe01f26b84b43de5f59b8224305.jpg" alt="First slide" height="300px">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="https://cdn.mos.cms.futurecdn.net/EwhF8ChoPrRaeiHK4EPJqY.jpeg" alt="Second slide" height="300px">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="https://s3.dexerto.com/thumbnails/_thumbnailLarge/Fortnite-Season-10-end-Season-11-start.jpg" alt="Third slide" height="300px">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>	
	{%endif%}

	<div class="wrappers">
		<div class="content">
			<div class="content">
				<div class="container-fluid">
					<br><br>
					{% if messages %}
						<ul class="messages">
						    {% for message in messages %}
								{%if message.tags == 'error' %}
									<div class="alert alert-danger" role="alert">
									 	<li{% if message.tags %} class=""{% endif %}>{{ message }}</li>
									</div>
								{%endif %}
								{%if message.tags == 'success' %}
									<div class="alert alert-success" role="alert">
									 	<li{% if message.tags %} class=""{% endif %}>{{ message }}</li>
									</div>
								{%endif %}
						    	
						    {% endfor %}
						</ul>
					{% endif %}
		<br><br>
					{%block contenido%}{%endblock%}
				</div>
			</div>
		</div>
	</div>

	<br><br><br><br><br><br><br><br><br><br>

	<!-- Footer -->
	<footer class="page-footer font-small special-color-dark pt-4">
		<div class="container">
			<!-- Call to action -->
			    <ul class="list-unstyled list-inline text-center py-2">
			      <li class="list-inline-item">
			        <h5 class="mb-1"></h5>
			      </li>
			      <li class="list-inline-item">
			        <a href="{%url 'contacto'%}" class="btn btn-outline-white btn-rounded">Contactanos</a>
			      </li>
			    </ul>
			    <!-- Call to action -->
		</div>
		<!-- Footer Elements -->
		<div class="container">
			<!-- Social buttons -->
			<ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item">
					<a class="btn-floating btn-fb mx-1">
						<i class="fab fa-facebook-f"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-tw mx-1">
						<i class="fab fa-twitter"> </i>
					</a>
				</li>
			</ul>
			<!-- Social buttons -->
		</div>
		<!-- Footer Elements -->
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2018 Copyright:
			<a href="https://mdbootstrap.com/education/bootstrap/"> gamecenter.com</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->

	<script src="{%static 'js/js.js'%}"></script>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


	<script>

		function addFavorite(idprod){
			$.ajax({
				url: '/favorite/'+idprod,
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					if (data.result == "success"){
						alert(data.message)
					}else if (data.result == "error"){
						alert(data.message)
					}
				}
			});
		}

		function deleteFavorite(idprod){
			$.ajax({
				url: '/delete/fav/'+idprod,
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					if (data.result == "success"){
						alert(data.message)
						$("#"+idprod).remove();
					}else if (data.result == "error"){
						alert(data.message)
					}
				}
			});
		}

	</script>
</body>
</html>
